:root {
    --color-primary: #72b626;
    --color-secondary: #ffffff;
    --font-main:"Poppins", sans-serif;
 
    --font-secondary:"Open Sans", sans-serif; ;
    --text-color-main:rgb(115, 112, 112) ;
    --text-color-dim: rgba(115, 112, 112, 0.49);
}

/* Default hidden on all screen sizes */
body{
    margin: 0;
    padding: 0;
    font-family: var(--font-secondary);
}

h1, h2, h3, h4 , h5, h6 {

    font-family: var(--font-main);
    font-weight: 700;
    line-height: 1.2;
    
}

p, li, ul {
    font-family :var(--font-secondary);
}
/*Adding paragraph */


/* Display block on large screens and above */

    .hidden{
        display: block;
        position: relative;
        width: 95%;
        height: 90%;
        left: 40px; 
        top: 40px; 
        border-radius: 30px; 
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
        object-fit: cover; 
    }


/* For NAV BAR */
.nav-contain{
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index: 999;  
} 


.home-part ul{
    display: flex;
    justify-content: right;
    gap:20px;
    
}

.home-part ul li{
    display: flex;
    list-style: none;
    
    padding: 10px 20px;
    position: relative;
}

.home-part ul li a {
    color: black;
    justify-content: space-between;
    text-decoration: none;
    padding: 5px 5px;
    font-size: 20px;

    transition: all 0.3s;
}
.home-part ul li a:hover {
    color: var(--color-primary);
}

/* For Paragraph */

.whole{
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 70px; 

}
.paragraph  {
    width: 550px;            
    border-color:var(--color-secondary)
   
       
}

.first-color{
  
    color: var(--color-primary);
    font-size: 51px;
    line-height: 62px;
}
.next-color{
  
    color: var(--text-color-main);
    font-size: 51px;
    line-height: 62px;

}

.paragraph p{
   
    line-height: 35px;
}

/* For BUTTON */
.button {
    display: inline-flex;
    align-items: center;
    padding: 13px 45px;
    border: 1px solid var(--color-primary);
    border-radius: 30px;
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.button .text {
        margin-right: 20px;
        font-size: 15px;
        font-family: var(--font-main);
    
}

.button .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 57px;
        height: 57px;
        background-color:var(--color-primary);
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .button .circle {
        
        color: white;
        font-size: 20px;
      
        font-weight: bold;
    }
       
    .button:hover{
        background-color: var(--color-primary);
        transition: 0.3s all ease;
        color: var(--color-secondary);

    }



.nav-content1 {
    position: relative;
    height: 90vh;
    background: rgb(114,182,38);
    background: linear-gradient(81deg, rgba(114,182,38,1) 30%, rgba(255,255,255,1) 30%); 

}

.container {
    margin: 0 30px;
    
}

/* FOR .paragraph2 */




.Aboutme-section{
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-title{
    width: 100%;
    height:40%;

    position: relative;
    text-align: center;
} 

.foreground-title {
 position: relative; 
 text-align: center;


  
}

.background-title {
   
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 110px;
    color: var(--text-color-dim);
    opacity: 0.3;

}

.background-title h1{
margin: 0;
font-size: 110px;

}
 /* whole div for Personal Info */
 .Description{
    width: 80%;
    margin: auto;
    height: auto;

} 
.personal{
    display: flex;
    gap: 50px;
    width: 50%;
}
/* Table part */
.personal-color{
    color:var(--text-color-main);
    
}
.text-color{
    color:var(--text-color-dim);
}

strong{
    color:var(--text-color-main); 
}
.personal-info {
    display: flex;
    flex-direction: row;
    line-height: 2.0;
   
    margin-bottom: 40px;
}

.info-left, .info-right {
    width: 50%;
    text-align: left;
}

.personal-info p {
   
    font-size: 15px;
}

/* Box Part */

.stats {
     display: flex;
     padding: 1px 68px;
}

.stat {
    
    background-color:var(--color-secondary);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.progress{
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 40px;
    padding-bottom: 25px;
}

.stat h1 {
    color: var(--color-primary);
}

.stat p {
    color: var(--text-color-main);
}

.stat-second{
    gap: 30px;
    margin-left: 20px;
}


/* Skill Section */

.skill-color{
    color: var(--text-color-main);
    padding-bottom: 48px;
}
.skills-section{
    text-align: center;
}

.cir-container {
    text-align: center;
}
.cir {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border: 10px solid #ffffff;
    position: relative;
}

.cir span {
    position: absolute;
    font-size: 19px;
    color: var(--text-color-main);
}

.cir-container p {                  
    margin-top: 10px;
    font-size: 16px;
    color: var(--text-color-main);
}

.cle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border: 4px solid #72b626;
    position: absolute;

}

.first-row{
display: flex;
justify-content: center; 
gap: 111px;
padding-top: 35px;
} 

.my-skills{
    width: 25%;
    margin-bottom: 48px;
    display: block;

}
.float{
    margin-left: auto;
    margin-right: auto;
    float: none;
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    margin: 0 .1em .1em 0;
    background-color: #ccc;
   
    --tw-bg-opacity: 1;
    background-color: rgb(238 238 238 / var(--tw-bg-opacity));
}


.float > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #0c0c0c;
    display: block;
    text-align: center;
    white-space: nowrap;
}
    
.float .slice{
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0, 1em, 1em, .5em);
}
.float *{
    box-sizing: content-box;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.float.p25 .bar{
    transform: rotate(90deg);
    position: absolute;
    border: .08em solid #307bbb;
    width: .84em;
    height: .84em;
    clip: rect(0, .5em, 1em, 0);
    border-radius: 50%;
    transform: rotate(0deg);
}

.fill{
    box-sizing: content-box;
    border: 0 solid #e5e7eb;
    

}

.float:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: var(--color-secondary);
    width: 0.84em;
    height: 0.84em;
    transition-property: all;
    transition-timing-function: ease-in;
}
.second-row{
    display: flex;
    justify-content: center;
    gap: 111px; 
    padding: 35px 0;
   
} 

/*Education and Experience Section*/

.education-section{
    width: 100%;
    text-align: center;
   
}
.resume{
    display:flex;
    align-items: center;
    width: 100%;
}

.education-first{
  width: 50%;
}

.education-item{
        display: flex;
        justify-content: center;
        width: 50%;
        margin-bottom: 64px;
}

.work-icon{
position: relative;
background-color: var(--color-primary);
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
 margin-right: -21px; 
}

.icon{
    width: 20px;
    height: 20px;
    color: #ffffff;
}

 .education-content{
    padding-left: 20px;
    border-left: 2px solid #ddd;
} 


.education-date{
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 20px;
    margin-right: 117px;
}

.education-title{
    font-size: 18px;
    margin: 0;
    color: var(--text-color-main);
   
}
.education-title span{
    font-weight: normal;
    color: var(--text-color-dim);
    
}

.education-content p{
    font-size: 14px;
    color: #666;
  

}

.education-next{
    width: 48%;
  
}



/* Work OF My POrtfolio */

.work-box{
    margin : 0 6%;
}


.box{
    width:350px;
    height: 215px;
    margin-left: 40px;
    margin-bottom: 40px;
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius : 10px;
    box-shadow: 0 4px 8px var(--text-color-dim);
    position: relative; 
    overflow : hidden;
    transition: background-color 0.3s ease, 
                background-image 0.3s ease;  

}
.box-wrapper{
    display: flex;
    flex-wrap: wrap;
}

#box1{
    background-image:url('images/paper.jpg'); 
}

#box2{
    background-image: url('images/cat.jpg');
}

#box3{
    background-image: url('images/construction.jpg');
}

#box4{
    background-image: url('images/bakery.jpg');
}
#box5{
    background-image: url('images/butterfly.jpg');
}

#box6{
    background-image: url('images/flower.jpg');
}

#box7{
    background-image: url('images/boat.jpg');
}

#box8{
    background-image: url('images/bb.jpg');
}

#box9{
    background-image: url('images/pencil.jpg');
}
.box-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent; 
    font-size: 20px;
    text-align: center;
    transition: color 0.3s ease;
    z-index: 1;
  }

.box:hover .box-text{
    color: var(--color-secondary);
    transition: color 0.3s ease;

}

.box:hover{
background-color: var(--color-primary);
background-image: none;
cursor: pointer;
}

.absolute-overlay{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: var(--color-primary);
    top:0;
    left: 0;
    display: none;
    z-index: 0;

}
 .box:hover .absolute-overlay {
    display: block;



 }

/* Contact Section */

.contact-section {
    display: flex;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
}

.contact-info {
    max-width: 45%;
}

.contact-info h2 {
    font-size: 32px;
    color: var(--text-color-main);
}

.contact-info p {
    font-size: 15px;
    color: var(--text-color-main);
    margin-bottom: 16px;
}

.contact-details {
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-item .icon {
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
 .contact-item .icon i{
    font-size: 25px;

 }

.contact-item .text h3 {
    margin: 0;
    font-size: 18px;
    color: var(--text-color-main);
}

.contact-item .text p {
    margin: 0;
    font-size: 14px;
    color: var(--text-color-dim);
}

/* for Icon */
.social-links  {
    display:flex;
    gap: 30px;
  
}

.card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-color:  #eaeaea;
        border-radius: 50%;
        text-decoration: none;
        color: var(--text-color-main);
        font-size: 20px;
        transition: all 0.3s ease;
    }

.card:hover{
    background-color: var(--color-primary);
    color: var(--color-secondary);
    transition: all 0.3s ease;
}

/* Form */

.contact-form {
    background-color: var(--color-secondary);
    padding: 30px;
    border-radius: 10px;
    width: 660px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 13px;
    border: 1px solid #ddd;
    border-radius: 30px;
    font-size: 13px;
    margin-bottom: 10px;
}

.form-group input:hover{
    border: 1px solid var(--color-primary);
}


textarea {
    width: 100%;
    height: 150px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 17px;
    resize: none;
    margin-bottom: 15px;
}
textarea:hover{
    border: 1px solid var(--color-primary);
}

/* My BLog */


.blog-card {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 40px;
    background-color: rgb(242 242 242 );
    margin-left: 40px;
   
}
.card-image{
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: auto;
   

}
.card-image:hover img{
    cursor: pointer;
    transform: scale(1.1);
}

.card-content {
    padding: 15px;
}

.card-content h2 {
    font-size: 18px;
    margin: 0 0 10px;
    color: var(--text-color-main);
}

.card-content h2:hover{
    cursor: pointer;
    color: var(--color-primary);
}

.card-content p {
    font-size: 14px;
    color: #777;
    text-align: center;
}

.card-content h2, .card-content p {
    text-align: center;
}

.blog-one{
    display: flex;
    justify-content: center;
}

.blog-two{
    display: flex;
    justify-content: center;
}

